<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>Create order</h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i>Home Page</a></li>
          <li class="active">Add order</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-header">
              <div class="box-header with-border">
                <h3 class="box-title">Basic Information</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <%= form_for @order do |f| %>
                <% if @order.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@order.errors.count, 'error') %> prohibited this item from being saved:</h2>
                    <ul>
                      <% @order.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="box-body">
                  <div class="form-group">
                    <label>Order Type</label>
                    <%= f.select(:order_type, [["Purchase","purchase"], ["Sales","sales"]], {}, { :class => 'form-control' })%>
                  </div>
                  <!-- list commodity -->
                  <div class="box-body">
                    <table class="table table-bordered table-hover" id="commodity_table">
                      <thead>
                        <tr>
                          <th>id</th>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @items.each do |item| %>
                        <tr>
                          <td>
                            <%= item.id %>
                          </td>
                          <td>
                            <%= item.name %>
                          </td>
                          <!-- TODO: max is not applied to 2nd row and above -->
                          <td> <%= f.number_field :item_list, class: 'form-control', placeholder: item.remaining_quantity, required: true, min: 0, max: item.remaining_quantity %> </td>
                          <td>
                            <%= item.get_price %>
                          </td>
                          <td>
                            RM 0.00
                          </td>
                        </tr>
                        <% end %>
                        <tr>
                          <td style="font-weight:bold" colspan="4"> Total </td>
                          <td id="total_price" style="font-weight:bold"> RM 0.00 </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>


                  <div class="form-group" id="supplier_name">
                    <label>Supplier Name</label>
                    <%= f.text_field :supplier, class: 'form-control', placeholder: 'Enter Supplier Name', required: true %>
                  </div>
                  <div class="form-group" id="client_name" style="display:none">
                    <label>Client Name</label>
                    <%= f.text_field :client, class: 'form-control', placeholder: 'Enter Client Name',  required: false %>
                  </div>
                </div>

                <!-- pass processed params to controller -->
                <%= f.hidden_field :quantity %>
                <%= f.hidden_field :items %>
                <%= f.hidden_field :price %>

                <!-- /.box-body -->
                <div class="box-footer">
                  <%= f.submit 'Submit', class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%= render 'layouts/footer' %>
    <!-- ./wrapper -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $(document).ready(function () {
        $.widget.bridge('uibutton', $.ui.button);
        $('.datepicker').datepicker({format: 'yyyy/mm/dd'});

        show_form_type();
        calculate_price();
      });

      $('#new_order').submit(function() {
        // submit processed data to controller
        $("#order_items").val(build_item_json());
        $("#order_price").val(parseFloat($("#total_price").html().replace(/[^0-9\.]/g, '')));
      });

      function calculate_price()
      {
        // update form based on order type changed
        $(document).on("#order_quantity").change(function(){
          // for each row, update the price (skip first and last row - title and total amount)
          nRows = $("#commodity_table tr").length;
          total_price = 0.0;
          total_quantity = 0;
          $("#commodity_table tr").not(":first, :last").each(function(){
              var quantity_selected = $(this).find("td:eq(2) input[type='number']").val();
              var display_price = $(this).find("td:eq(3)").html();
              // format to get price value as price displayed is in RM xx.xx
              var price = parseFloat(display_price.replace(/[^0-9\.]/g, ''));
              var amount = parseFloat((quantity_selected * price).toFixed(2));

              // calculate price of the commodity selected
              if (quantity_selected.length != 0) {
                $(this).find("td:eq(4)").html("RM " + amount);

                // sum total price and quantity
                total_price = total_price + amount;
                total_quantity = total_quantity + parseInt(quantity_selected);
              }
          });

          // update total price
          $("#commodity_table tr:last").find("td:eq(1)").html("RM " + total_price.toFixed(2));

          // update total quantity
          $("#order_quantity").val(total_quantity);
        });
      }

      function build_item_json()
      {
        var item_list_json = [];
        nRows = $("#commodity_table tr").length;
        total_price = 0.0;
        $("#commodity_table tr").not(":first, :last").each(function(){
            var item_id = $(this).find("td:eq(0)").html().replace(/\s/g,'')
            var quantity_selected = $(this).find("td:eq(2) input[type='number']").val();
            var display_price = $(this).find("td:eq(3)").html();
            // format to get price value as price displayed is in RM xx.xx
            var price = parseFloat(display_price.replace(/[^0-9\.]/g, ''));
            var amount = parseFloat((quantity_selected * price).toFixed(2));

            // build json item lists
            if (quantity_selected.length != 0) {
              item = {};
              item ["id"] = item_id;
              item ["quantity"] = quantity_selected;
              item ["amount"] = amount;

              item_list_json.push(item);
            }
        });
       
        return JSON.stringify(item_list_json);
      }

      function show_form_type()
      {
        // update form based on order type changed
        $(document).on("order_order_type").change(function(){
          var order_type = $("#order_order_type").find(":selected").val();

          // hide fields unrelated to sales
          if(order_type == "sales")
          {
            $('#client_name').show();
            $('#supplier_name').hide();

            $('#order_client').attr('required',true);
            $('#order_supplier').removeAttr('required');
          }
          else 
          {
            $('#supplier_name').show();
            $('#client_name').hide();

            $('#order_supplier').attr('required',true);
            $('#order_client').removeAttr('required');
          }
        });
      }

      // Purcase_Orders
      // {
      //   "supplier" : "supplier name",
      //   "item_list" : [
      //   {
      //     "name" : "pencil",
      //     "category" : "book",
      //     "quantity" : "30",
      //     "price" : "2.10",
      //   }],
      //   "date" : "<date>"
      // }

      // Sales_Orders
      // {
      //   "client" : "supplier name",
      //   "item_list" : [
      //     {
      //       "id" : "pencil",
      //       "name" : "Pencil",
      //       "category" : "book",
      //       "quantity" : "30",
      //       "price" : "2.10"
      //     },
      //     {
      //       "id" : "a4-paper",
      //       "name" : "A4 Paper",
      //       "category" : "book",
      //       "quantity" : "50",
      //       "price" : "0.70"
      //     }
      //   ],
      //   "date" : "<date>"
      // }  
      
    </script>
  </div>
</body>
