<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Purchase History
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Purchase History</li>
        </ol>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Supplier</th>
                      <th>Total Price</th>
                      <th>Order Date</th>
                      <th>Ordered By</th>
                      <th>Status</th>
                      <th>View More</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @pending.each do |order| %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= order.supplier %></td>
                      <td><%= "RM #{'%.2f' % order.price}" %></td>
                      <td><%= order.date.in_time_zone("Kuala Lumpur").strftime("%d %b %Y") %></td>
                      <td><%= order.member.name %></td>
                      <td><%= order.get_status %></td>
                      <td><%= link_to 'View More', purchase_order_path(id: order.id) %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>
</body>
